.svn
.cvsignore
CVS
*.bak
*.sbr
*.ncb
*.o
*.la
*.lo
BuildLog.htm
.deps
.libs
*.user
*.sdf
*.opensdf
*.pdb
*.gz
*.7z
*.rar
*.bz2
*.zip
*.lzma
*.suo
research
tmp
autom4te.cache
src/uncrustify
Makefile
man/Makefile
man/uncrustify.1
src/Makefile
*.exe
*~
config.log
config.status
*.vtg
*.vpwh*
tests/results
.waf*
.lock*
build
waf*
win32/Release
win32/Debug
win32/obj
win32/bin
win32/ipch
*.obj
autom4te.cache
build
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/*.mode1v3
*.xcodeproj/*.tm_build_errors
*.tmproj
Debug
uncrustify-*-win32

src/stamp-h1
src/uncrustify_version.h
src/config.h

